<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.jungmedia.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name="cn.jungmedia.android.app.AppApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:overrideLibrary="android.support.design">

        <uses-library android:name="android.test.runner" />

        <instrumentation
            android:name="android.test.InstrumentationTestRunner"
            android:targetPackage="com.jung.finance" />

        <activity
            android:name="cn.jungmedia.android.wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent">

        </activity>

        <activity
            android:name="cn.jungmedia.android.ui.main.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.jungmedia.android.ui.news.activity.PhotosDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme.Trans" />
        <activity
            android:name="cn.jungmedia.android.ui.main.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.jungmedia.android.ui.news.activity.NewsDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.jungmedia.android.ui.news.activity.NewsBrowserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.jungmedia.android.ui.news.activity.NewsPhotoDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.jungmedia.android.ui.news.activity.NewsChannelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.jungmedia.android.ui.zone.activity.CircleZoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.jungmedia.android.ui.zone.activity.CirclePublishActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.jungmedia.android.ui.news.activity.AboutActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="cn.jungmedia.android.ui.common.CommonActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_In_From_Right" />


        <service android:name="com.baidu.cn.vm.service.DownloadService" />

        <!-- 友盟统计 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5ad4b8878f4a9d4c88000282"></meta-data>

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="umeng" />



        <!-- push start -->
        <!-- 使用完全自定义消息来开启应用的服务进程的示例服务配置 -->
        <service android:name=".push.MyNotificationService" />
        <service android:name=".push.UmengNotificationService" />
        <receiver android:name=".push.NotificationBroadcast" />
        <activity
            android:name=".push.MipushTestActivity"
            android:launchMode="singleTask"
            android:exported="true"/>

    </application>

</manifest>
