<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jung.finance">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.jung.finance.app.AppApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:overrideLibrary="android.support.design">

        <uses-library android:name="android.test.runner"/>

        <instrumentation
            android:name="android.test.InstrumentationTestRunner"
            android:targetPackage="com.jung.finance" />

        <activity
            android:name="com.jung.finance.ui.main.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jung.finance.ui.news.activity.PhotosDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme.Trans" />
        <activity
            android:name="com.jung.finance.ui.main.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jung.finance.ui.news.activity.NewsDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jung.finance.ui.news.activity.NewsBrowserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jung.finance.ui.news.activity.NewsPhotoDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jung.finance.ui.news.activity.NewsChannelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jung.finance.ui.zone.activity.CircleZoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jung.finance.ui.zone.activity.CirclePublishActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jung.finance.ui.news.activity.AboutActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.jung.finance.ui.common.CommonActivity"
            android:theme="@style/Theme_In_From_Right"
            android:screenOrientation="portrait" />


        <!-- 友盟统计 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="umeng"></meta-data>
    </application>

</manifest>
